<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
</head>
<body>
  <h2><style="text-decoration:none;"> <%= link_to 'Create new article', new_article_path %></h2>
  <center><b><h1>INDEX</h1></b></center>
  <%= @articles.each do |article| %>
      

   <h4>Title:<%= article.title %></h4>
    <h4>Description:<%= article.description %></h4><br>
    
    <%= link_to 'Edit Article', edit_article_path(article) %> |
    <%= link_to 'Show Article', article_path(article) %> | 
    <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>    
        <hr>
    <% end %>
    <br>
    

        '
</body>
</html>